.communityContainer {

  /* width: 100%; */

  display: flex;
  align-items: center;
  margin: 0px;

}

.posthomeRightContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 10px;
  /* margin: 0px 10px; */
  /* overflow: auto; */
}

.createCommunityButtonContainer {
  width: 100%;
  height: 100%;
  /* border: 1px solid #bababa; */
  padding: 10px;
  display: grid;
  place-items: center;
}

.createCommunityButtonContainer {
  /* background-color: rgba(0, 0, 0, 0.163); */
  color: yellow;
}

.createCommunityButtonContainer button {
  background-color: rgb(255, 255, 0);
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.createCommunityButtonContainer button:hover {
  background-color: rgb(172, 172, 172);
  color: white;
}

.cCContainer {
  margin: 5px;
  width: 90%;
  height: 100%;

  border: 2px solid #bababa;
}

.cCBackButtonContianer {
  border: 1px solid blue;

  width: 100%;
}

.cCButtonBack {
  height: 40px;
  width: 40px;
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: white;
  border: none;
}

.cCButtonBack:hover {
  background-color: rgb(234, 234, 234);
}


.cCInputContainer {
  border: 1px solid red;
  display: flex;
  width: 100%;
  margin: 0px;
}

.cCSearchInput {
  border: 1px solid #bababa;
  /* border: none; */
  outline: none;
  padding: 4px;
  margin: 4px;
  border-radius: 3px;

}

.cCSearchSelect {
  width: 30%;
  border: 1px solid #bababa;
  outline: none;
  padding: 4px;
  margin: 4px;
  border-radius: 3px;
}

.SearchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(24, 214, 125);
  overflow: auto;
  padding-top: 130px;
  cursor: pointer;
  max-height: calc(100vh - 110px);
  /* margin-top: 30px; */
}

.Suggestioncenter {
  border: 1px solid red;



}

.user {
  width: 100%;
}

.cCContainerForm {
  width: 100%;
  border: red solid 1px;
  padding: 0%;
}

.communityFIlterContainer {
  border: 1px soild blue;
  /* padding: 5px; */
}

.StatusBtn {
  color: #007bff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  /* border: 2px solid red; */
  margin: 1px 8px;
  padding: 3px;
  border: none;
  background-color: transparent;
  margin-left: 5px;

}

.Cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;

}

.card-header{
  width: 100%;
  border: 1px solid red;
}


/* lkdkldkldmklkmlkmlkmldmklmklkmllllllxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

.card-body {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
}
.type{
  font-size: 10px;
}

.message-card {

  width: 400px;
  height: auto;
  background-color: #ffffcc;
  padding: 15px ;
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message-info h6 {
  margin: 0;
}

.message-info p {
  margin: 5px 0;
}

.location {
  margin: 0;
  font-weight: bold;
  color: #333;
  /* Darken the location text */
}

.message-image {
  width: 50%;
  border-radius: 10px;
  margin-top: 10px;
}

.dish-name {
  margin-top: 20px;
  /* Increased margin-top */
  margin-bottom: 10px;
  /* Increased margin-bottom */
  font-weight: bold;
}

.price {
  margin: 0;
  font-weight: bold;
}

.description {
  margin-top: 15px;
  /* Increased margin-top */
  margin-bottom: 5px;
}

.descr {
  margin: 0;
}

.add-cart-button {

  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* Increased padding */
  margin-top: 15px;
  /* Increased margin-top */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonContainerCommunity{
  display:flex;
  justify-content: flex-end;
  /* align-items:flex-end; */
}
.add-cart-button:hover {
  background-color: #ff6600;
  /* Darker color on hover */
}

.cart-container {
  width: 500px;
  position: fixed;
  bottom: 10px;
  left: 39%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-container {
    bottom: 50px;
    width: calc(100% - 40px); /* Adjust width for smaller screens */
    left: 50%;
    transform: translateX(-50%);
    right: auto; /* Remove right positioning */
  }
}


.cart-container h5 {
  /* cursor: pointer; */
  margin: 0px;
}

.cart-container h5:hover {
  text-decoration: underline; /* Underline text on hover */

}


.cart-container p {
  margin: 0px;
  
}