.homeContiner {
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
}

.homeRightContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(239, 244, 239);
  padding: 10px;
  padding-bottom: 30px !important;
  overflow: auto;
}

.homePOstFeedContainer {
  height: 100%;
  width: 50%;
  /* border: 2px solid blue; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.userPostCard {
  /* border: 2px solid pink; */
  width: 70%;
  margin: 10px 3px;
  border-bottom: 1px solid rgb(122, 121, 121);
}

.userContainerHead {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.userImgInPostCard {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.userImgNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 2px solid red; */
}

.userImgNameContainer p {
  font-weight: bold;
  /* border: 2px solid red; */
  margin: 0px;
}

.userContainerHead span {
  /* border: 2px solid red; */
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.userPostContent img {
  height: 370px;
  width: 100%;
  object-fit: cover;
}

.userPostContent {
  position: relative;
}

.image-container {
  width: 100%;
  position: relative;
  display: inline-block;
  /* border: 1px solid red; */
}

.image-container img {
  /* width:100%; */
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#ffffff, #ffffffb6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.white-text {
  font-weight: bold;
  color: black;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

/* button container styles */

.postButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  /* border: 1px solid red; */

}

.likeButtonContainer {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.likeButtonContainer button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* margin: 0px 5px; */
  outline: none;
  border: none;
  /* border: 1px solid red; */
}

.likeButtonContainer button span {
  height: auto;
  margin: 0px;
  padding: 0px !important;
  font-size: 28px;
  /* border: 1px solid red; */
}

.inviteButtonContainer {
  height: 100% !important;
  /* border: 1px solid red !important; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 10px; */
  margin-bottom: 15px;
}

.invite-btn {
  height: 30px;
  border: 1px solid #aaa5a5 !important;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
  /* border: 1px solid red; */

}

.favorite-btn {
  width: auto;
  /* border: 1px solid red !important; */
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 10px !important;

}

.likeButtonInnerCont {
  /* height: 50%; */
  /* border: 1px solid red; */
  margin: 0px !important;
  padding: 0px !important;
}

.favParaCont {
  /* border: 1px solid red; */
  margin: 0px;
  padding-left: 10px;
}

.bookmark-btn {
  border: none;
  outline: none;
  background-color: white;
  /* border: 2px solid red; */
  padding: 0px;
  margin-bottom: 10px;
}

.bookmark-btn span {
  margin: 0px;
  padding: 0px;
  font-size: 28px;
}

.procedureContainer {
  display: flex;
  /* justify-content: ; */
  /* border: 2px solid red; */
}

.procedureContainer p {
  width: 100%;
  /* border: 1px solid red; */
  margin: 0px;
  padding: 2px;
}

.userDescriptionName {
  font-weight: bold;
  padding-right: 10px;
}

.userHomeContainer {
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.userContainerInSuggestion {
  /* border:  2px solid yellow; */
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2px;
}

.userSuggestionInnerLeftContainer {
  /* width: ; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}


.userSuggetionContiainerInSuggetion img {
  height: 60px;
  width: 60px;
}

.userSuggestedContainer {
  /* border: 2px solid red; */
  width: 70%;
}



.userSuggetionName {
  font-weight: bold;
  /* border: 1px solid red; */
}

.usersugehtionNamecontainer p {
  width: 100%;
  /* border:  1px solid red; */
  margin: 0px;
}

.usersugehtionNamecontainer {
  /* border:  1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
}

.profile-link {
  color: #007bff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  /* border: 2px solid red; */
  margin: 1px 8px;
  padding: 3px;
  cursor: pointer;
}

.profile-link:hover {
  color: #494949;
}

.SuggestedForYou {
  font-size: 13px;
}

.seeAllUserSuggestion {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  /* border: 2px solid red; */
  margin: 1px 8px;
  padding: 3px;
}

.seeallContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2px;
}

.seeallContainer h5 {
  font-size: 15px;
  /* border: 1px solid red; */
  margin: 0px;
  color: #6c6c6c;
}

.conatienrCart{
  border: 1px solid red !important;
}

@media (max-width: 767px) {
  .conatienrCart{
    border: 1px solid red !important;
  }
  .userHomeContainer {
    display: none;
  }


  .homeRightContainer {
    height: 85%;
    padding: 2px;
    margin-top: 50px;
  }

  .homePOstFeedContainer {
    width: 100%;
    padding: 1px 4px;
    /* border: 1px solid red; */
    /* padding-bottom: 20px !important; */
  }

  .userPostCard {
    width: 100%;
  }

  .userImgNameContainer {
    padding: 0px 4px;
  }

  .userImgNameContainer p {
    font-size: 15px;
  }

  .userImgInPostCard {
    height: 40px;
    width: 40px;
  }

  .white-text {
    font-size: 15px;
    padding: 1px 3px;
  }

  .procedureContainer {
    padding: 1px 4px;
  }

  .procedureContainer p {
    font-size: 15px;
    /* border: 1px solid red  */
  }
}