.profile-container {
    align-items: center;
    display: flex;

}

.profileright {
    display: flex;
}

.user-name-container {
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0;
    /* border: 1px solid red; */
}

.userName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    /* border: 1px solid red; */
    width: 300px;
    padding: 0;
    margin-left: 0;
    text-align: left;
    margin-top: 20px;

}

.buttonContainer {
    display: flex;
}



.profile_button {
    border: none;
    padding: 0;
    background-color: #ebe7df;
    cursor: pointer;
    width: 100px;
    height: 35px;
    /* border: 1px solid red;  */
    /* margin-top: 10px; */
    border-radius: 3px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}

.profile_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
    /* margin-top: 40px; */
}

.container {
    /* display: flex; */
    /* border: 3px solid red;  */
    text-align: center;
    justify-content: center;
}

.profile_details {
    background-color: #ebe7df;


    padding-left: 200px;
}

.post_container {
    display: flex;
    margin: none;
    /* border: 1px solid red; */
}

.post_container p {
    margin-top: 10px;
    margin-right: 20px;
}


.Bio {

    width: 200px;
    max-height: 300px;
    text-align: left;
}

.Bio p {
    margin: 0;
}

.rowpost {
    width: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    border: 1px solid red;
    margin: 5px;
    padding: 10px;
}


.row {
    width: 100%;
    height: 40%;

}


.profilePostContainner {
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.postInnerContainer {
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;

}

.post_button {
    border: none;
    background-color: white;
    cursor: pointer;
    width: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    font-stretch: 75%;
}

.post_button span {
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top: 3px;
    margin-right: 3px;
}


.post_button:hover {
    background-color: #dcd7cf98;
}

.post_buttonAactive {
    background-color: #bcb6af87;

}

.save_post {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(190, 190, 190);
    width: 67%;
    margin-bottom: 10px;
}


.innerSavePostContainer {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    padding: 5px;
    width: 60%;
    margin-top: 5px;
}

.homeRight {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    /* padding: 10px; */
    /* margin: 0px 10px; */
    overflow: auto;
    flex-direction: row !important;


}

.profile {
    width: 100%;
    margin-left: 30px;
    align-items: center;
    /* border: 2px solid green; */
}

.container-fluid {
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.number {
    font-weight: 500;
    color: #333;
    font-size: 20px;
}

.cardPost {
    border: 1px solid #ccc;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 280px;
    width: 280px;
    margin: 5px;
    cursor: pointer;
    /* border: 1px solid red; */
}


.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}

.Postcol {
    display: flex;

}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    /* border: 1px solid red; */

}

.postColumn {
    /* border: 1px solid red; */
}


.profilePostsContainer {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}


@media (max-width: 767px) {

    .container-fluid {
        width: 100%;
        height: 100%;
        border: 1px solid red;
        margin: 0px;
        padding: 0px;

    }



    .rowpost {
        width: 100%;
        border: 1px solid blue;
      
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin:0px;
    }


    .image {
        width:25%;
        border: 1px solid red;
        /* margin: 7px; */
    }

    .profile_img {
        height: 80px;
        width: 80px;
        margin: 0px;


    }

    .profile {
        width: 75%;
        margin: 0px;
        border: 2px solid green;
    }
    .user-name-container {
        /* margin-top: 40px; */
        border: 1px solid red;
    }

    .userName{
        font-size: 15px;
        border: 1px solid red;
    }

    .profile_button {
        background-color: #ebe7df;
        cursor: pointer;
        width: 70px;
        height:auto;
        border-radius: 3px;
        text-align: center;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 15px;
        padding: 4px;

    }

    .cardPost {
        width: 250px;
        margin: 0;
    }

    .row {
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
    }

}